<%- include('./partials/header') %>
<div class="homeContainer">
  <h1>Notes</h1>
  <br />
  <h3>Rules</h3>
  <ul>
    <li><a href="/rule1">Rule 1: Worst Case</a></li>
    <li><a href="/rule2">Rule 2: Remove Constants</a></li>
    <li><a href="/rule3">Rule 3: Different terms for inputs</a></li>
    <li><a href="/rule4">Rule 4: Drop Non Dominants</a></li>
  </ul>
</div>
<%- include('./partials/footer') %>
