body {
  margin: 0;
  padding: 0;
}

.appOuterContainer {
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  .appInnerContainer {
    flex-grow: 1;
    overflow-y: auto;
    font-family: 'Poppins', sans-serif;
    background-color: lightgray;
  }
}

// Navbar
.navBar {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  box-shadow: 0rem 0.1rem 0.25rem 0rem rgb(66, 82, 110);
  display: flex;
  justify-content: space-between;
  z-index: 1;
  list-style: none;
  padding-left: 1rem;
  a {
    color: white;
    height: 100%;
    text-decoration: none;
  }
  a:visited {
    color: white;
  }
  a:hover {
    background-color: rgba(0, 0, 0, 0.7);
    text-decoration: none;
    color: white;
  }
  .linksContainer {
    margin-right: 5rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    ul {
      display: flex;
      li {
        margin: 1rem;
      }
    }
  }
  .linksContainer:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }
  .dropdown-menu {
    background-color: rgba(0, 0, 0, 0.9);
    text-align: center;
    margin-top: 0.45rem;
  }
}

// Footer
footer {
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  box-shadow: 0rem -0.1rem 0.25rem 0rem rgb(66, 82, 110);
  text-align: center;
  padding: 0.5rem;
  p {
    margin: auto;
  }
}

// Home Page
.homeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  li {
    font-family: 'Open Sans', sans-serif;
  }
  a:hover {
    text-decoration: none;
  }
}

// Rule 1
.rule1Container {
  h1 {
    text-align: center;
  }
  .card {
    font-family: 'Open Sans', sans-serif;
    margin: 1rem auto;
    width: 60%;
  }
  pre {
    color: white;
    padding: 1rem;
    .darkBlue {
      color: rgb(53, 140, 214);
    }

    .blue {
      color: rgb(79, 193, 255);
    }

    .lightBlue {
      color: rgb(156, 220, 254);
    }

    .green {
      color: rgb(0, 220, 23);
    }

    .darkGreen {
      color: rgb(67, 138, 73);
    }

    .lightGreen {
      color: rgb(181, 206, 168);
    }

    .orange {
      color: rgb(206, 131, 73);
    }

    .yellow {
      color: rgb(220, 205, 121);
    }

    .purple {
      color: rgb(197, 134, 192);
    }
  }
}
